@font-face {
  font-family: 'CNNSans-Bold';
  src: url('../public/assets/fonts/CNNSansDisplay-Bold.woff');
}

@font-face {
  font-family: 'CNNSans-Light';
  src: url('../public/assets/fonts/CNNSansDisplay-Light.woff');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ui-shadow {
  -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.44);
  box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.44);
}

.video-js {
  width: 100%;
  height: 100%;
}

.vjs-loading-spinner {
  display: none !important;
}
